//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: 8px 35px 8px 14px;
  color: #333;
  margin-bottom: @baseLineHeight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: @warningBackground;
  border: 1px solid @warningBorder;
  .border-radius(@baseBorderRadius);
}

.alert[class*="icon-"] {
  display: block;
  padding-left: 30px;
  position: relative;
  line-height: 20px;
  &:before {
    color: @warningText;
    position: absolute;
    top: 9px;
    left: 10px;
    vertical-align: middle;
  }
  &.icon-large {
    padding-left: 48px;
    &:before {
      top: 15px;
      left: 14px;
    }
  }
  &.alert-icon-right {
    padding-left: 14px;
    &:before {
      top: auto;
      left: auto;
      bottom: 10px;
      right: 14px;
    }
  }
}

.alert h4 {
  margin: 0;
  color: @warningText;
}


// Adjust close link position
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: @baseLineHeight;
}


// Alternate styles
// -------------------------

.alert-success {
  background-color: @successBackground;
  border-color: @successBorder;
  color: @successText;
}
.alert-success[class*="icon-"]:before,
.alert-success h4 {
  color: @successText;
}
.alert-danger,
.alert-error {
  background-color: @errorBackground;
  border-color: @errorBorder;
  color: @errorText;
}
.alert-danger[class*="icon-"]:before,
.alert-error[class*="icon-"]:before,
.alert-danger h4,
.alert-error h4 {
  color: @errorText;
}
.alert-info[class*="icon-"]:before,
.alert-info {
  background-color: @infoBackground;
  border-color: @infoBorder;
  color: @infoText;
}
.alert-info h4 {
  color: @infoText;
}


// Block alerts
// -------------------------

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;

  &[class*=icon-] {
    padding-left: 52px;
    &:before {
      left: 14px;
      top: 20px;
      font-size: 1.5*1.25em;
    }
  }
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}

