//
// DatePicker
// --------------------------------------------------

@date-link: @teal;

.date-picker {
  position: absolute;
  display: none;
  padding: 10px 18px;
  background-color: #eee;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  .box-shadow(0 4px 16px rgba(0,0,0,.2));
}

.date-header {
  height: 40px;
  line-height: 32px;
  position: relative;
  text-align: center;

  a {
    color: @date-link;
    font-size: 16px;
    margin: 0 8px;
  }

  [class*='icon'] {
    position: absolute;
    .opacity(30);
    color: @date-link;
    cursor: pointer;
    left: 0;
    top: 0;

    &.right {
      left: auto;
      right: 0;
    }

    &:hover, &:active {
      .opacity(80);
    }
  }
}

@day-width: 32px;

.date-picker .year-select,
.date-picker .month-select {
  background-color: @date-link;
  padding: 7px;
  width: @day-width * 7;

  li {
    border: 2px solid @date-link;
    color: @white;
    cursor: pointer;
    text-align: center;
    line-height: @day-width;
    display: inline-block;

    &:hover, &:active {
      border-color: @white;
    }
    &:active {
      background-color: @white;
      color: @date-link;
    }
  }
}

.date-picker .month-select {
  li {
    width: (@day-width * 7 / 4) - 4px;
  }
}

.date-picker .year-select {
  li {
    width: (@day-width * 7 / 5) - 4px;
  }
}

.date-picker table {
  border: 0;
  text-align: center;

  a {
    color: @black;
  }

  td {
    width: @day-width;
    height: 28px;
  }

  thead {
    border-bottom: 1px solid @date-link;
    td {
      color: @grayLight;
      height: 28px;
    }
  }

  tbody td {
    color: #ccc;
    a {
      display: block;
      color: @black;
      width: 24px;
      height: 24px;
      border: 2px solid transparent;
      line-height: 24px;

      &:hover, &:active, &.active {
        color: @date-link;
        border-color: @date-link;
        .border-radius(15px);
      }

      &:active, &.active {
        background-color: @date-link;
        color: @white;
      }
    }
  }
}