//
// DatePicker
// --------------------------------------------------

@date-link: @tangerine;

input.date {
  width: 120px;
  cursor: pointer;
  background-color: @inputBackground;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAOCAYAAAFcNtxbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYpJREFUeNpiKCgoYOjo6PgPBAxMDEDw4sULRhANEECMIFEQo7y8nJHl06dPDDAAEECMID0gICgoKA+kHtTV1YG1sMBUvH///iFIIYwPEEBws2AAbCbIJqAR/6E6EEb8/PkTWTEDExDof/v2jRGEgWx7kCBAADG2trbyA2kHIP7AgAkEqqqqNsI4LK9fv/4IpDcyEAHAwcDGxiYPxP+hGMzGphgggBjb29vrGRkZG7BJAgO1oaKiohHujH///jVA3YwNHABihOI/f/6AwuUgLJih4gpIbAYUxdiCHsTm5eVFcTvT379/Gbi4uMCCIBqZDZLDajIoFGBsEABFBnqosIB0AzHMemRnMKCbDBCgcypIARiEYRXmTRA8+VVve7FMEPTmrNDhsCpbQSiRxGpic7A+3QU/yzknOLy5bYwB7734Klp5ZbZ3cNfA0lo3UghBWGsfgZQSEM7xBmGl1MtrIiEeYwQuA1thdC3nPORi1/dus5+ETpZSFlyrfpUEbuKzJqPQBKu+JyNvJnwDzrnI6PcquucAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: right 7px;
}

.date-picker {
  position: absolute;
  display: none;
  padding: 6px 12px 10px;
  background-color: @grayBg;
  border: 1px solid @grayLight;
  border: 1px solid rgba(0,0,0,.2);
  .box-shadow(0 4px 16px rgba(0,0,0,.2));
}

.date-header {
  height: 40px;
  line-height: 32px;
  position: relative;
  text-align: center;

  a {
    //color: @date-link;
    color: @grayDarker;
    font-weight: bold;
    font-size: 16px;
    margin: 0 8px;

    &.year:after {
      .icon-FontAwesome();
      font-size: 14px;
      margin: -1px 0 0 3px;
      color: @grayLight;
      content: "\f13a";
    }
  }

  [class*='icon'] {
    position: absolute;
    .opacity(50);
    //color: @date-link;
    color: @grayDarker;
    cursor: pointer;
    left: 0;
    top: 5px;

    &.right {
      left: auto;
      right: 0;
    }

    &:hover, &:active {
      .opacity(80);
    }
  }
}

@day-width: 32px;

.date-picker .year-select,
.date-picker .month-select {
  //background-color: @date-link;
  background-color: @grayLighter;
  padding: 7px;
  width: @day-width * 7;

  li {
    //border: 2px solid transparent;
    //color: @white;
    cursor: pointer;
    text-align: center;
    line-height: @day-width;
    display: inline-block;

    &:hover, &:active {
      color: @white;
      background-color: @date-link;
    }
    &:active {
      color: @date-link;
    }
  }
}

.date-picker .month-select {
  li {
    width: (@day-width * 7 / 4);
  }
}

.date-picker .year-select {
  li {
    width: (@day-width * 7 / 5);
  }
}

.date-picker table {
  border: 0;
  text-align: center;

  a {
    color: @black;
  }

  td {
    width: @day-width;
    height: 28px;
  }

  thead {
    border-bottom: 1px solid @date-link;
    td {
      color: @grayLight;
      height: 28px;
    }
  }

  tbody td {
    color: #ccc;
    a {
      display: block;
      color: @black;
      width: 24px;
      height: 24px;
      border: 2px solid transparent;
      line-height: 24px;

      &:hover, &:active, &.active {
        background-color: #cccccc;
      }

      &:active, &.active {
        background-color: @date-link;
        color: @white;
      }
    }
  }
}