//
// Select
// --------------------------------------------------

.openbox {
  position: absolute;
  visibility: hidden;
  background-color: @white;
  .box-shadow(0 1px 15px rgba(0,0,0,.2));
  border: 1px solid @grayLighter;

  .loading {
    min-width: 320px;
    min-height: 180px;
  }

  .openbox-close {
    position: absolute;
    right: 5px;
    top: 8px;
    .opacity(30);
    .transition-duration(1s);
    &:hover, &:active {
      .opacity(100);
    }
  }

  .openbox-drag {
    cursor: move;
  }
  .openbox-resize {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 2px;
    bottom: 2px;
    border: 2px solid @grayLighter;
    border-color: transparent @grayLighter @grayLighter transparent;
    cursor: se-resize;

    &:hover, &:active {
      border-color: transparent @gray @gray transparent;
    }
  }
}

.openbox-title {
  border-bottom: 1px solid @grayLightest;
  position: relative;
  padding: 0 60px 0 10px;
  height: 40px;
  line-height: 40px;
  h3 {
    margin: 0;
    color: @grayDark;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
  }
}

.openbox-body {}

.openbox-content {
  padding: 0 20px;
  margin-top: 20px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.openbox-buttons {
  padding: 7px;
  background-color: @grayLightest;
  text-align: right;
  button {
    margin-right: 7px;
  }
  button:last-child {
    margin-right: 0;
  }
}

.openbox-image {
  .openbox-bottom {
    border-width: 0;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;

    a {
      margin-right: 5px;
      .transition-duration(1s);
      .opacity(30);
      &:not(.disabled):hover, &:not(.disabled):active {
        .opacity(100);
      }

      &.disabled {
        cursor: default;
        .opacity(8);
      }
    }
  }

  .openbox-close {
    top: auto;
    bottom: 4px;
  }

  .openbox-body {
    padding: 8px 8px 0;
  }
}