//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarkest:           #131313;
@grayDarker:            #414141;
@grayDark:              #545454;
@gray:                  #5d5d5d;
@grayLight:             #9e9e9e;
@grayLighter:           #dfdfdf;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #00acda;
@teal:                  #BADCDD;
@green:                 #8dc63f;
@red:                   #9e2b20;
@orange:                #d95b1f;
@yellow:                #ffedc9;
@magenta:               #e8003a;
@purple:                #c94aa9;

// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDarkest;


// Links
// -------------------------
@linkColor:             @blue;
@linkColorHover:        darken(@linkColor, 15%);


// Text
// -------------------------
@errorText:             @red;
@warningText:           @orange;
@successText:           @green;
@infoText:              @teal;

// Typography
// -------------------------
@sansFontFamily:        "微软雅黑", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       "宋体", Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          14px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        24px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// 1200px min
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));

// 768px-979px
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));


// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// 1200px min
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);

// 768px-979px
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);


// COMPONENT VARIABLES
// --------------------------------------------------


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;