@import "../../../pack.less";
@import "../../../less/responsive.less";

body {
  overflow-y:scroll;
}

header {
  display: block;
  .size(50px, 100%);
  position: fixed;
  background-color: #131313;
  top: 0;
  left: 0;

  .logo {
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 20px;
    color: #fff;
  }
}

.sidebar-nav {
  position: fixed;
  top: 70px;

  dl {
    dt {
      text-align: right;
      margin-top: 8px;
      &:first-child { margin-top: 0; }

      a {
        color: @gray;
        background-color: @grayLighter;
        line-height: 50px;
        font-size: 20px;
        display: block;
        height: 100%;
        padding-right: 15px;

        &:hover {
          color: @grayDarkest;
          background-color: @grayLight;
        }

      }

      &.active {
        a { color: @white; }
        .handle-1 { background-color: @blue; }
        .handle-2 { background-color: @red; }
        .handle-3 { background-color: @green; }
        .handle-4 { background-color: @purple; }
        .handle-5 { background-color: @orange; }
        .handle-6 { background-color: @teal; }
      }
    }

    dd {
      a {
        display: block;
        color: @grayDarker;
        line-height: 26px;
        margin-top: 8px;
        font-size: 16px;
        text-align: right;
        padding-right: 15px;
      }
    }
  }
}

.main {
  margin-top: 70px;

  .show-grid {
    margin: 10px 0;
    [class*="span"] {
      background-color: @grayLighter;
      line-height: 30px;

      [class*="span"] {
        background-color: @grayLight;
      }
    }

    .show-grid {
      margin: 0;
    }
  }
}

