@import "../../pack.less";

header {
  display: block;
  .size(40px, 100%);
  position: fixed;
  background-color: #131313;
  top: 0;
  left: 0;

  .logo {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 20px;
    color: #fff;
  }
}

@nav-width: 240px;
.sidebar-nav {
  position: fixed;
  top: 60px;
  width: @nav-width;
  left: 30px;

  dl {
    dt {
      text-align: right;
      margin-top: 10px;
      &:first-child { margin-top: 0; }

      a {
        color: @gray;
        background-color: @grayLighter;
        line-height: 50px;
        font-size: 20px;
        display: block;
        .size(100%, 100%);

        span {
          margin-right: 15px;
        }

        &:hover {
          color: @grayDarkest;
          background-color: @grayLight;
        }

      }

      &.active {
        a { color: @white; }
        .handle-1 { background-color: @blue; }
        .handle-2 { background-color: @red; }
        .handle-3 { background-color: @green; }
        .handle-4 { background-color: @grayDark; }
        .handle-5 { background-color: @orange; }
      }
    }
  }
}

.main {
  margin: 60px 30px 0 @nav-width + 30;
}

